node_modules
.env
./dist
/extensions/*
themes
.idea/*
.evershop
.vscode
npm-debug.log
/package-log.json
/media
/public
.DS_Store
.log
coverage
cypress
/config
.prettierignore
.prettierrc
mysqlToPostgres.js// Tweak ESLint settings at 2024-10-01 12:22:51
// Update Docker setup at 2024-10-08 13:22:17
// Update README at 2024-10-09 16:03:31
// Update Docker setup at 2024-10-27 13:22:40
// Adjust test configuration at 2024-10-30 17:42:51
// Update nodemon config at 2024-11-07 17:45:59
